@import '../../app.component.scss';

.container {
  height: 91vh;
}

.login-form {
  width: 100%;
}

.guest {
  background-color: rgb(141, 141, 141);
  color: white;
}

@media screen and (max-width: 768px) {
  max-width: 50%;
}