<div class="add-padding flex flex-direction-row align-items-center justify-center container">
  <mat-card>
    <mat-card-title>Login to access Angular POS</mat-card-title>
    <mat-card-subtitle>If you don't have credentials, login as guest</mat-card-subtitle>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <input matInput #email placeholder="Email" type="email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput #password placeholder="Password" type="password">
        </mat-form-field>
        <mat-error class="error" *ngIf="!success">
          Invalid email/password combination.
        </mat-error>
        <p routerLink="/resetpassword" class="reset error">Forgot password?</p>
      </form>
      <button mat-raised-button (click)="userLogin(email.value, password.value)">Login</button>
      <button mat-raised-button class="guest" (click)="guestLogin()">Guest</button>
    </mat-card-content>
  </mat-card>
</div>
