<div class="add-padding flex flex-direction-row align-items-center justify-center container">
  <mat-card>
    <mat-card-title>Login to access Angular POS</mat-card-title>
    <mat-card-subtitle>If you don't have access, please contact sam@samfinan.com</mat-card-subtitle>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
      </form>
      <button mat-raised-button>Login</button>
    </mat-card-content>
  </mat-card>
</div>