@import '../app.component.scss';

.navbar {
  min-height: 3rem;
  background-color: $main-color;
}

.title {
  color: white;
  font-family: $main-font;
  font-size: 1.25rem;
  cursor: pointer;
}

.subtitle {
  color: white;
  font-family: $secondary-font;
}