@import '../app.component.scss';

.navbar {
  min-height: 3rem;
  background-color: $main-color;
  justify-content: space-between;
}

.title {
  color: white;
  margin-right: 0.25rem;
  font-family: $main-font;
  font-size: 1.25rem;
  cursor: pointer;
}

.subtitle {
  color: white;
  font-family: $secondary-font;
}

.menu {
  color: white;
}