<div class="pos-section">
  <h1 class="add-padding heading">Select Items</h1>

  <mat-tab-group>
    <mat-tab label="Drink">
      <div class="flex flex-direction-row flex-wrap menu add-margin justify-center">
        <div *ngFor="let item of drink" class="flex flex-direction-column item" (click)="addToCheck(item)">
          <div [ngStyle]="{'background-image': 'url(' + item.img + ')'}" class="item-img"></div>
          <h3 class="item-name">{{item.name}}</h3>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Food">
      <div class="flex flex-direction-row flex-wrap menu add-margin justify-center">
        <div *ngFor="let item of food" class="flex flex-direction-column item" (click)="addToCheck(item)">
          <div [ngStyle]="{'background-image': 'url(' + item.img + ')'}" class="item-img"></div>
          <h3 class="item-name">{{item.name}}</h3>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


  

  
</div>