@import '../../app.component.scss';

.container {
  // margin: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.data {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

mat-form-field {
  margin-right: 1rem;
}

.new-item-action-row {
  padding-bottom: 0;
}