@import '../../app.component.scss';

.container {
  min-height: 77vh;
}

.login-form {
  width: 100%;
}

.error {
  padding-bottom: 1rem;
}

.reset {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.success {
  color: green;
}

@media screen and (max-width: 768px) {
  max-width: 50%;
}