@import '../app.component.scss';

.ticket-section {
  min-height: 343px;
  border: 1px solid $main-color;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}

.heading {
  background-color: $main-color;
  color:white;
  font-family: $main-font;
}

.table-header {
  text-align: left;
  font-family: $body-font;
  font-weight: 700;
}

.items {
  width: 100%;
}


.item {
  font-family: $body-font;
}

.del {
  color: grey;
}
.del:hover {
  color: black;
}


.summary {
  background-color: $main-color;
  height: 3rem;
  margin-top: auto;
}

.total {
  color: white;
  font-family: $body-font;
  padding: 0.75rem;
}

td, th {
  padding: 0.5rem;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  margin-right: 1rem;
}

.checkout {
  margin-right: 0.5rem;
  background-color: rgb(214, 102, 102);
}