<div class="ticket-section flex flex-direction-column justify-between">
  <h1 class="add-padding heading">Order Summary</h1>
  <table class="items">
    <tr class="table-header">
      <th>Qty</th>
      <th>Item</th>
      <th>Price</th>
      <th>Modify</th>
    </tr>
    <tr *ngFor="let item of items" class="item">
      <td>{{item.quantity}}</td>
      <td>{{item.name}}</td>
      <td>${{item.price}}</td>
      <td>
        <mat-icon (click)="addItem(item)" class="del">control_point</mat-icon>
        <mat-icon (click)="subtractOne(item)" class="del">indeterminate_check_box</mat-icon>
        <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon></td>
    </tr>
  </table>
  <div class="summary flex flex-direction-row align-items-center justify-between">
    <h3 class="total">Total: ${{cartTotal}}</h3>
    <div class="flex flex-direction-row buttons">
      <button class="" mat-raised-button (click)="clearCart()">Clear</button>
      <button class="checkout" mat-raised-button>Checkout</button>      
    </div>
  </div>
</div>