@import '../app.component.scss';

.ticket-section {
  min-height: 343px;
  border: 1px solid $main-color;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.heading {
  color: $main-color;
  font-family: $main-font;
}

.table-header {
  text-align: left;
  font-family: $body-font;
  font-weight: 700;
}

.items {
  width: 100%;
}


.item {
  font-family: $body-font;
}

.del {
  color: grey;
}
.del:hover {
  color: black;
  cursor: pointer;
}


.summary {
  margin-top: auto;
}

.total {
  padding: 0.75rem;
}

td, th {
  padding: 0.5rem;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.checkout {
  margin-right: 0.75rem;
  background-color: rgb(214, 102, 102);
}